name: Build LaTeX document
on: 
  pull_request:
    branches: [ main ]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: 'Set up Git repository'
        uses: actions/checkout@v1
      - name: 'Compile LaTeX document'
        uses: dante-ev/latex-action@master
        with:
          root_file: Main.tex
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: cv
          path: Main.pdf
          retention-days: 5
